@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
}

:root {
  --main-font: "Open Sans", sans-serif;
  --second-font: "Archivo", sans-serif;

  --title-main-color: rgb(47, 49, 51);
  --title-secondary-color: rgb(140, 158, 138);
  --link-hover-color: rgb(47, 49, 51);
  --backgraund-secondary-color: #EBE8E8;
  --text-main-color: rgb(141, 141, 141);
  --text-secondary-color: rgb(112, 112, 112);
  --text-third-color: rgb(140, 158, 138);
}

a {
  text-decoration: none;
}

.caption-number {
  font-weight: 700;
  letter-spacing: 2.2px;
  line-height: 18.37px;
  font-family: var(--main-font);
  font-size: 11px;
  color: var(--text-main-color);
}

.secondary-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 38.76px;
  font-family: var(--second-font);
}