.have-questions {
  background-color: var(--backgraund-section-color);
  padding-top: 90px;
}

.have-question__inform-description {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.have-question__title {
  margin-top: 20px;
}

.have-question__title+p {
  margin-top: 25px;
  color: var(--text-secondary-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.have-question__inform-description-text {
  color: var(--text-main-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.have-question__inform-description-link {
  display: inline-block;
  margin-top: 20px;
  color: var(--text-third-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}


.have-questions__accordion-header {
  cursor: pointer;
}

.have-questions__accordion-content {
  display: none;
}

.have-questions__common-services-part {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center; 
  margin-top: 25px;
}

.have-questions__common-services-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var( --button-text-color);
  border-radius: 50%;
}

.have-questions__common-services-img img {
  width: 26px;
}

.have-questions__common-services-title {
  color: var(--title-main-color);
  font-family: var(--second-font);
  font-size: 22px;
  font-weight: 700;
  line-height: 28.6px;
}

.have-questions__common-services-text {
  color: var(--text-main-color);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 25.6px;
}

